@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Poppins ;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background-color: #ebebeb;
    width: 50%;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    border-radius: 0.5rem;
}

.header{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.input-box{
    width: 90%;
    display: flex;
    justify-content: space-around;
    gap: 0.9rem;
}

.input-box > input{
    width: 90%;
    padding: 0 10px;
    border-radius: 1rem;
    outline: none;
    border: none;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box > button{
    border: none;
    border-radius: 100%;
    padding: 5px;
}

.generater-copy-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.generate > button{
    background-color: black;
    color: #ffffff;
    padding: 0.3rem 0.4rem;
    border-radius: 0.5rem;
}

.copy > button{
    background-color: black;
    color: #ffffff;
    padding: 0.3rem 0.4rem;
    border-radius: 0.5rem;
}