@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins";
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: white;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem 1rem;
    background-color: #ebebeb;
    border-radius: 0.5rem;
}

.color-code{
    width: 80%;
    background-color: #ffffff;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 0.5rem;
}

button{
    background-color: black;
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 0.5rem;
}

.message{
    width: 90%;
}